<main class="container-cart">

    <div class="content-product">


        <div class="product-cart" *ngFor="let product of cart">
            <img class="img" [src]="product.photo" alt="">
            <div class="box-one">
                <h3>{{product.name}}</h3>
                <button class="remove-product" (click)="deleteProduct(product.id)">Remover do Carrinho</button>
            </div>

            <div class="box-btn">
                <button class="btn" (click)="decrement(product)">-</button>
                <p class="qtd">{{product.quantity || 0}}</p>
                <button class="btn" (click)="increment(product)">+</button>
            </div>

            <h2 class="price">{{product.price}} $</h2>

        </div>

    </div>



    <div class="details-cart">
        <h2>Detalhes do carrinho</h2>


        <p class="qtd-pdt">Produtos {{productsCounter}}</p>


        <div class="total">
            <h2>Total</h2>
            <h2>{{total | currency}}</h2>
        </div>
    </div>

</main>