.content-footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #333;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.contatos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
}
