<main class="container">

    <header class="nav-content">
        <h1 class="title">Shopping</h1>
        <nav class="nav">
            <ul class="items">
                <li id="item">Home</li>
                <li routerLink="contato" id="item">Contato</li>
                <li id="item">Quem somos</li>
                <div class="favorite-shop">
                    <li class="material-symbols-outlined" routerLink="favorites" id="item-favorite">favorite<p
                            class="counter-fav">{{favoriteCounter}}</p>
                    </li>
                    <li routerLink="cart" class="material-symbols-outlined" id="item-shop">shopping_cart <p
                            class="counter-shop">
                            {{cartCounter}}</p>
                    </li>

                </div>

            </ul>

        </nav>
        <div class="content-mobile">




            <div class="mobile-menu-icon">
                <button (click)="menuShow()" class="material-symbols-outlined" id="icon">menu</button>
            </div>

            <div class="mobile-menu">
                <ul class="items">
                    <li id="item">Home</li>
                    <li id="item">Contato</li>
                    <li id="item">Quem somos</li>
                    <div class="favorite-shop">
                        <li class="material-symbols-outlined" routerLink="favorites" id="item-favorite">favorite<p
                                class="counter-fav">{{favoriteCounter}}</p>
                        </li>
                        <li routerLink="cart" class="material-symbols-outlined" id="item-shop">shopping_cart <p
                                class="counter-shop">
                                {{cartCounter}}</p>
                        </li>

                    </div>
                </ul>
            </div>

        </div>


    </header>

    <section class="products-content">
        <div class="product" *ngFor="let product of products">
            <button class="material-symbols-outlined" id="add-fav" (click)="sendFavorite(product)"
                [attr.data-id]="product.id" #btnFavorite>favorite</button>
            <img class="img-product" [src]="product.photo" alt="">
            <h3 class="name-product" href="#">{{product.name}} - {{product.price}}</h3>
            <div class="btn-content">
                <button class="buy" (click)="sendCart(product)">Adicionar ao carrinho</button>
                <button class="detail-btn" [routerLink]="['/details',product.id]">Detalhes</button>

            </div>
        </div>
        <div class="dialog" *ngIf="modal">
            <i id="modal-check" class="material-symbols-outlined">
                done
            </i>
            <h3> Você já adicionou o produto no carrinho!</h3>
        </div>
    </section>

    <footer class="footer">
        <app-footer></app-footer>
    </footer>
</main>