<main class="container">

    <header class="nav-content">
        <h1 class="title">Nome da empresa</h1>
        <nav class="nav">
            <ul class="items">
                <li class="item">Home</li>
                <li class="item">Contato</li>
                <li class="item">Quem somos</li>
                <li class="item">Favoritos</li>
                <li class="item">Carrinho</li>
            </ul>
        </nav>
    </header>
</main>
<footer>
    <app-footer></app-footer>
</footer>
